<!DOCTYPE html>
<html lang="en">
<head>

  <title>Redis Manager</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">

    <h2><i class="fa fa-database" aria-hidden="true"></i> Redis Manager</h2>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">Send selected messages to: </span>
          <input type="text" class="form-control" placeholder="q:hurdle" />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">lpush</button>
            <button class="btn btn-default" type="button">rpush</button>
            <button class="btn btn-danger" type="button">delete</button>
          </span>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Search</span>
          <input id="derp" class="form-control" type="text" name="name" placeholder="locumprofile">
        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>

    <hr>

    <div class="row">
      {% for key_batch in lists|batch(2) %}
      {% for key in key_batch %}
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span>{{ key.name }}</span>
                </label>
              </div>
            </h3>
          </div>
          <ul class="list-group">
            {% for message in key.messages %}
            <li class="list-group-item">

              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <small class="displayed-message">{{ message }}</small>
                  <small class="original-message hidden">{{ message }}</small>
                </label>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>

</div>
<!-- js -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/actions.js') }}"></script>
</body>
</html>
